<!DOCTYPE html>
<html>

<head>
  <title>Fluidity</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/6399/6399339.png">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <title>Playlist</title>
</head>

<body>
  <div id="app">
    <v-app>
      <v-app-bar app color="white" height="75">
        <v-avatar class="mr-3" color="grey lighten-5" size="70">
          <v-img contain max-height="70%" src="https://cdn-icons-png.flaticon.com/512/6399/6399339.png">
          </v-img>
        </v-avatar>

        <v-toolbar-title class="font-weight-black headline">
          FLUIDITY
        </v-toolbar-title>
      </v-app-bar>

      <v-content>
        <section id="hero">
          <v-row no-gutters>
            <v-img :min-height="'calc(50vh - ' + $vuetify.application.top + 'px)'"
              src="https://images.unsplash.com/photo-1460501501851-d5946a18e552?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80">
              <v-theme-provider dark>
                <v-container fill-height>
                  <v-row align="center" class="white--text mx-auto" justify="center">
                    <v-col class="white--text text-center" cols="12" tag="h1">
                      <span :class="[$vuetify.breakpoint.smAndDown ? 'display-1' : 'display-2']"
                        class="font-weight-light">
                        CREATE A
                      </span>

                      <br>

                      <span :class="[$vuetify.breakpoint.smAndDown ? 'display-3': 'display-4']"
                        class="font-weight-black">
                        PLAYLIST
                      </span>

                    </v-col>



                    <v-btn class="align-self-end" hrefab outlined @click="$vuetify.goTo('#about-me')">

                      <v-icon>mdi-chevron-double-down</v-icon>
                    </v-btn>
                  </v-row>
                </v-container>
              </v-theme-provider>
            </v-img>
          </v-row>
        </section>

        <section id="about-me">
          <div class="py-12"></div>

          <v-container class="text-center">
            <input type="text">

            <v-responsive class="mx-auto mb-8" width="56">
              <v-divider class="mb-1"></v-divider>

              <v-divider></v-divider>
            </v-responsive>

            <h2 class="display-2 font-weight-bold mb-3">Playlist Name</h2>
            <v-icon>mdi-chevron-double-down</v-icon>





            <div class="">

              <form action="/playlist" class='form-control' method='POST'>

                {{form.hidden_tag()}} {% for field in form.errors %}
                { field }}:
                {% for error in form.errors[field] %}
                {{ error }}
                {% endfor %}
                {% endfor %} {% for field in form if field.widget.input_type != 'hidden' %}
                <div class="py-12">
                  <v-text-field id="playlist_name" name="playlist_name" required="required" label="Playlist" solo></v-text-field>
                 
                
                </div>
           
                 
                
       
                {% endfor %}
                <br>
                <v-btn class='accent' type="submit">add playlist</v-btn>



              </form>
            </div>
          </v-container>

          <div class="py-12"></div>
        </section>

        <section id="features" class="grey lighten-3">
          <div class="py-12"></div>



          <v-container class="text-center">
            <h2 class="display-2 font-weight-bold mb-3"></h2>

            <v-responsive class="mx-auto mb-12" width="25">



            </v-responsive>


            <script>
              new Vue({
                el: '#app',
                vuetify: new Vuetify(),
                data() {
                  return {
                    articles: [
                      {
                        src: 'https://images.unsplash.com/photo-1423784346385-c1d4dac9893a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80',
                        title: 'Mobile first & Responsive',
                        text: 'Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.',
                      },
                      {
                        src: 'https://images.unsplash.com/photo-1475938476802-32a7e851dad1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80',
                        title: 'Think outside the box',
                        text: 'Nam ut leo ipsum. Maecenas pretium aliquam feugiat. Aenean vel tempor est, vitae tincidunt risus. Sed sodales vestibulum nibh.',
                      },
                      {
                        src: 'https://images.unsplash.com/photo-1416339442236-8ceb164046f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1892&q=80',
                        title: 'Small changes, big difference',
                        text: 'Vestibulum in dictum velit, in rhoncus nibh. Maecenas neque libero, interdum a dignissim in, aliquet vitae lectus. Phasellus lorem enim, luctus ut velit eget.',
                      },
                    ],
                    features: [
                      {
                        icon: 'mdi-account-group-outline',
                        title: 'Vibrant Community',
                        text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate sint possimus quidem atque harum excepturi nemo velit tempora! Enim inventore fuga, qui ipsum eveniet facilis obcaecati corrupti asperiores nam',
                      },
                      {
                        icon: 'mdi-update',
                        title: 'Frequent Updates',
                        text: 'Sed ut elementum justo. Suspendisse non justo enim. Vestibulum cursus mauris dui, a luctus ex blandit. Lorem ipsum dolor sit amet consectetur adipisicing elit. qui ipsum eveniet facilis obcaecati corrupti consectetur adipisicing elit.',
                      },
                      {
                        icon: 'mdi-shield-outline',
                        title: 'Long-term Support',
                        text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate sint possimus quidem atque harum excepturi nemo velit tempora! Enim inventore fuga, qui ipsum eveniet facilis obcaecati corrupti asperiores nam',
                      },
                    ],
                    stats: [
                      ['24k', 'Github Stars'],
                      ['330+', 'Releases'],
                      ['1m', 'Downloads/mo'],
                      ['5m', 'Total Downloads'],
                    ],
                  }
                }
              })
            </script>
</body>

</html>